*{
    box-sizing: border-box;
}
body{
    font-family: Tahoma ,Arial,sans-serif;background-image:url(../images/Wp-floral-blue-frame.jpg); 
}
.container {
    margin: 20px auto;
    width: 1080px;
}
.row{
    display:flex;
}
hr{
border: 1px solid #eee;
}
.game-info{
    display: flex;
}
.game-info .game-name{
    flex:1;
}
.game-info .category{
    flex:1;
    text-align:right;
}
.game-info .category span{
    text-transform:capitalize;
    font-weight:bold;
    color: #e91e63;
}
.hangman-draw{
    flex:1;
    background-color: #e8e8e8;
    padding:20px;
    height:324px;
}
.hangman-draw .the-draw{
    width:80px;
    height:240px;
    margin:auto;
    position:relative;
    border-bottom: 4px solid #222;
    display:none;
}
.hangman-draw .the-stand{
    display:none;
}
.hangman-draw .the-stand:before{
    content:"";
    position:absolute;
    width:4px;
    height:100%;
    background-color:#222;
    left:50%;
    margin-left: -2px;

}
.hangman-draw .the-hang{
    display:none;
}
.hangman-draw .the-hang:before{
    content:"";
    position:absolute;
    width:100px;
    height:4px;
    background-color:#222;
    left:40px;
    top: 13px;

}
.hangman-draw .the-hang:after{
    content:"";
    position:absolute;
    width:4px;
    height:30px;
    background-color:#222;
    left:136px;
    top: 14px;

}
.hangman-draw .the-rope{
    position:absolute;
    width:80px;
    height:80px;
    left:99px;
    top:44px;
    border:4px dashed #222;
    border-radius:50%;
    display:none;
}
.hangman-draw .the-man .the-head{
    position:absolute;
    width:50px;
    height:50px;
    left:115px;
    top:59px;
    border: 4px solid #222;
    border-radius:50%;
    display:none;
}
.hangman-draw .the-man .the-body{
    position:absolute;
    width:4px;
    height:120px;
    left:138px;
    top:105px;
    background-color:#222;
    display:none;
}
.hangman-draw .the-man .the-hands{
    display:none;
}
.hangman-draw .the-man .the-hands:before,
.hangman-draw .the-man .the-hands:after{
    content:"";
    position:absolute;
    width:55px;
    height:4px;
    background-color:#222;
    top:150px;
    
}
.hangman-draw .the-man .the-hands:before{
    left:87px;
    transform: rotate(30deg);
}
.hangman-draw .the-man .the-hands:after{
    left:138px;
    transform: rotate(-30deg);
}
.hangman-draw .the-man .the-legs{
    display:none;
}
.hangman-draw .the-man .the-legs:before,
.hangman-draw .the-man .the-legs:after{
    content:"";
    position:absolute;
    width:55px;
    height:4px;
    background-color:#222;
    top:239px;
    
}
.hangman-draw .the-man .the-legs:before{
    left:95px;
    transform: rotate(-46deg);
}
.hangman-draw .the-man .the-legs:after{
    left:130px;
    transform: rotate(46deg);
}
.hangman-draw.wrong-1 .the-draw{
    display:block;
}
.hangman-draw.wrong-2 .the-stand{
    display:block;
}
.hangman-draw.wrong-3 .the-hang{
    display:block;
}
.hangman-draw.wrong-4 .the-rope{
    display:block;
}
.hangman-draw.wrong-5 .the-head{
    display:block;
}
.hangman-draw.wrong-6 .the-body{
    display:block;
}
.hangman-draw.wrong-7 .the-hands{
    display:block;
}
.hangman-draw.wrong-8 .the-legs{
    display:block;
}
.letters{
    position:relative;
    flex:1;
    padding: 20px;
    text-align:center;
    overflow: hidden;
}
.hint{
    position: absolute;
    display: inline-block;
    top: 89%;
    left: 79%;
    width: 80px;
    height: 35px;
    background-color: #afe22b;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
}
.hint-span{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 89%;
    left: 60%;
    width: 80px;
    height: 35px;
    background-color: #229348;
    font-size: 18px;
    font-weight: bold;
    padding: 4px;
    border-radius: 10px;
}
.letters.finished{
    pointer-events: none;
}
.letters .letter-box{
    width:55px;
    height: 55px;
    display:inline-block;
    background-color:#009688;
    color:#fff;
    font-size:25px;
    font-weight:bold;
    margin-right: 10px;
    margin-bottom:10px;
    text-transform:uppercase;
    line-height:50px;
    cursor:pointer;

}
.letters .letter-box.clicked{
    background-color:rgba(161, 35, 35, 0.403);
    pointer-events: none;
}

.letters-guess{
    margin: 10px auto;
    background-color:#f8f8f8;
    padding:20px;
    display:flex;
    justify-content:center;
    min-height:104px;
}
.letters-guess span{
    width:60px;
    height:60px;
    font-size:24px;
    font-weight:bold;
    margin-right: 10px;
    text-align:center;
    line-height:60px;
    text-transform:uppercase;
    background-color:#fdfdfd;
    border-bottom:3px solid #222;
    transition:0.3s;

}
.letters-guess span.has-space{
    background:none;
    border-bottom:none;
    position:relative;

}
.letters-guess span.has-space:before{
    content: "";
    width:20px;
    height:4px;
    background-color:#222;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
}
.lost-popup{
    position:fixed;
    background-color:#960000db;
    padding:100px 20px;
    width:80%;
    top:15%;
    left:10%;
    text-align:center;
    font-size:40px;
    border:2px solid #ccc;
    color:#fff;
}
.win-popup{
    position:fixed;
    background-color:#1caa31db;
    background-image:url(../images/istockphoto-1296652620-170667a.jpg);
    
    padding:100px 20px;
    width:90%;
    height:55%;
    top:10%;
    left:5%;
    text-align:center;
    font-size:40px;
    border:2px solid #ccc;
    color:rgb(10, 9, 9);
}
.restart{
    position:absolute;
    left:50%;
    top:90%;
    transform:translate(-50%, -50%);
    width:30%;
    height: 80px;
    padding:20px;
    font-size:35px;
    text-align: center;
    background-color:#bc8726;
    color:#fff;
    border:2px solid #222;
    border-radius:10px;
    line-height: 20px;
    cursor:pointer;
}